<!-- views/partials/nav.ejs -->

    <nav class="<%-navClasses-%>">
      <a class="<%-navItemClasses-%><% if(currentPage === "home") { %> current<% } %>" href="/">Home</a
      ><a class="<%-navItemClasses-%><% if(currentPage === "about") { %> current<% } %>" href="/about">About</a
      ><a class="<%-navItemClasses-%><% if(currentPage === "music") { %> current<% } %>" href="/music">Music</a
      ><a class="<%-navItemClasses-%><% if(currentPage === "portfolio") { %> current<% } %>" href="/portfolio">Portfolio</a
      ><a class="<%-navItemClasses-%><% if(currentPage === "contact") { %> current<% } %>" href="/contact">Contact</a>
    </nav>
